body {
  background: $body-background;
  color: $main-text-color;
  font: $main-font-family;
  font-size: $font-size-base;
  padding-top: 70px;
}

img, embed, object, video {
  max-width: 100%;
}

form {
  top: 0px;
  background: $color-write;
  position: absolute;
  width: calc(100% - 20px);
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include if-is-table {
    height: auto;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    div {
      width: calc(50% - 10px);
      margin: auto 5px;
    }
    button {
      width: 40%;
    }
  }
}
label, input, button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label{
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  border: 1px solid $color-tobago;
  margin: 5px 0px 15px 0px;
  padding: 10px;
  font-size: $font-size-base;
  border-radius: 5px;
}
button {
  @extend input;
  font-weight: bold;
  background: $color-tobago;
  text-transform: uppercase;
  color: darken($color-tobago, 50%);
  transition: all 0.25s;
  &:hover {
    background: darken($color-tobago, 30%);
  }
  &:active {
    background: darken($color-tobago, 40%);
    color: $color-write;
  }
}