.songs-list{
  @include if-is-table {
    display: flex;
    flex-wrap: wrap;
  }
  .song {
    @extend .clearfix;
    @include if-is-table {
      width: calc(25% - 20px);
      padding: 10px;
      text-align: center;
    }
    .cover{
      width: 60px;
      float: left;
      padding: 5px;
      @include if-is-table {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .artist{
      margin-top: 15px;
      font-weight: bold;
    }
    .artist, .title{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 16px;
      padding: 1px;
    }
    .favourite-song {
      //@include _fa-icon(heart-o);
      font-size: medium;
      color: $color-tobago;
      float: right;
      margin: 20px 10px 0 0;
      cursor: pointer;
      @include if-is-table{
        margin:0;
        margin-right: 5px;
      }
    }
    .unfavourite-song {
      @extend .favourite-song;
      @include _fa-icon(heart);
    }
    .delete-song {
      @extend .favourite-song;
      //@include _fa-icon(trash)
      @include sprite($basket);
      zoom: 0.6;
    }
  }
}