@include sprites($spritesheet-sprites);
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
.sprite {
  display: inline-block;
}

.sprite-huge{
  zoom:1;
  -moz-transform:scale(1);
  -moz-transform-origin: 0 0;
}

.sprite-big{
  zoom:0.60;
  -moz-transform:scale(0.60);
  -moz-transform-origin: 0 0;
}

.sprite-small{
  zoom:0.29;
  -moz-transform:scale(0.29);
  -moz-transform-origin: 0 0;
}