body {
  // by default all elements UI are hidden
  .ui-element{
    display: none;
  }
  // show UI form
  &.form-show {
    .add-song {
      transform: rotate(45deg);
    }
    .new-song-form {
      display: flex;
    }
    @include if-is-table {
      .songs-list {
        display: flex;
      }
    }
  }
  // show UI song list
  &.song-list-show {
    .songs-list{
      display: block;
    }
    @include if-is-table {
      .songs-list {
        display: flex;
      }
    }
  }
}

// Sample implement states
.loading {
  background: #1d6f94;
}
.error {
  background: #3CE2E8;
}
.not-found {
  background: #333333;
}